*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(
        135deg,
        #0f172a,
        #1e3a8a,
        #312e81
    );
}

.card{
    width:420px;
    padding:40px;
    border-radius:30px;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(20px);
    border:1px solid rgba(255,255,255,0.15);
    box-shadow:
    0 20px 50px rgba(0,0,0,.4);
}

.ring{
    width:260px;
    height:260px;
    margin:auto;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    background:#0f172a;
}

.ring::before{
    content:"";
    position:absolute;
    inset:-8px;
    border-radius:50%;
    background:conic-gradient(
        #00f5ff,
        #00ff95,
        #00f5ff
    );
    z-index:-1;
    animation:spin 4s linear infinite;
}

.ring::after{
    content:"";
    position:absolute;
    inset:10px;
    border-radius:50%;
    background:#0f172a;
}

#timer{
    position:relative;
    z-index:2;
    color:white;
    font-size:3rem;
    font-weight:700;
    letter-spacing:3px;
    text-shadow:0 0 20px #00f5ff;
}

.buttons{
    margin-top:40px;
    display:flex;
    justify-content:center;
    gap:15px;
}

button{
    border:1px solid;
    padding:14px 28px;
    border-radius:20px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:translateY(-3px);
}

.start{
    background:#22c55e;
    color:white;
}

.stop{
    background:#ef4444;
    color:white;
}

.reset{
    background:#f59e0b;
    color:white;
}

@keyframes spin{
    100%{
        transform:rotate(360deg);
    }
}